@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>WELCOME</h1>
        <h4>to Mihai's New Moodle - Rich Application Development Assignment</h4>
        @if (User.Identity.IsAuthenticated)
        {
            string greeting = "You are logged in as " + (User.IsInRole("Admin") ? "Administrator" : User.IsInRole("Student") ? "Student" : "Lecturer");
            <p class="lead"> @Html.Raw(greeting)</p>
            <p>@Html.ActionLink("Manage your account", "Index", "Manage", routeValues: null, htmlAttributes: new { id = "loginLink" }) &raquo;</p>

        }
        else
        {
            <p class="lead">Log in to access the page.</p>
            <p>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) &raquo;</p>
        }

    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Students</h2>
        <p>
            Can enroll for a maximum of six modules and can see their marks and attendances!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Lecturers</h2>
        <p>Can create assessments, grade them and see their allocated modules!</p>
    </div>
</div>